<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>russianroulette</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="../vendor/mediaelement/build/mediaelementplayer.min.css"/>
    <link rel="stylesheet" href="vendor/music-player-1.0.1/plugin/css/style.css"/>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js(.tmp) scripts/vendor/modernizr.js -->
    <script src="vendor/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>-->
</head>
<body>
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
                                                                                                                        your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="bg-image" style="background-color: rgb(0, 0, 0); background-position: initial; background-repeat: initial;">
        <img class="epicImg" src="images/bg.jpg">

        <div id="epic-overlay"></div>
    </div>

    <header class="header">
        <div class="header__wrapper">
            <div class="header-logo"><a href="/"><span class="header-logo__wrapper"></span></a></div>

            <div class="nav__wrapper">
                <ul class="nav nav__socials socials">
                    <li class="nav__item">
                        <a class="link link_hover-style_change" href="https://vk.com/russianroulettepro">
                            <span class="fa fa-vk" data-hover="G"></span>
                        </a>
                    </li>
                </ul>

                <ul class="nav nav__site">
                    <li class="nav__item"><a class="link link_hover-style_change" href="/team.html"><span data-hover="Team">Team</span></a></li>
                    <li class="nav__item"><a class="link link_hover-style_change" href="/soundcloud.html"><span data-hover="SoundCloud">SoundCloud</span></a></li>
                    <li class="nav__item"><a class="link link_hover-style_change" href="/instrumental.html"><span data-hover="Instrumental">Instrumental</span></a></li>
                    <li class="nav__item"><a class="link link_hover-style_change" href="/gallery.html"><span data-hover="Gallery">Gallery</span></a></li>
                    <li class="nav__item"><a class="link link_hover-style_change" href="/contacts.html"><span data-hover="Contacts">Contacts</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="welcome">

            <video id="wpHeader" width="480" height="270" src="vendor/mediaelement/media/echo-hereweare.mp4" type="video/mp4"
                   controls="controls"></video>

            <div class="greet text-center">
                <p class="abbr">Feel Freedom. Love Music. Become better.</p>

                <p class="small text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            It has survived not only five centuries, but also the leap into electronic typesetting,
                                            remaining essentially unchanged.</p>
            </div>

            <ul id="wpSocials" class="socials pull-right">
                <li>
                    <a href="https://vk.com/russianroulettepro">
                        <span class="fa fa-vk"></span>
                    </a>
                </li>
            </ul>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="tiles">
                    <div class="col">
                        <a href="#">
                            <img src="//farm5.staticflickr.com/4065/4718520977_c5bbc16326_b.jpg">
                            <span class="link">Home</span>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img src="images/brkln.jpg">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img src="http://mixnparty.com/wp-content/uploads/2014/01/dance-download-hd-dj-music-dance-composer-latest-hd.jpg">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img src="images/bldngs.jpg">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img src="http://www.dazzlingwallpaper.com/image/1359012377_dark_world_map.jpg">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img src="http://www.michaeljacksoncelebrityclothing.com/%20Varsity-Letterman-Jackets/black-white-closeup-lining.jpg">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img src="http://s3.goodfon.ru/image/46704-1920x1080.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-md-11">
                                <input id="name" name="name" type="text" placeholder="Enter Your Name"
                                       class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-md-11">
                                <input id="email" name="email" type="email" placeholder="example@your.mail"
                                       class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">
                            <div class="col-md-11">
                            <textarea class="form-control" id="message" name="message" rows="7">Enter Message
                                Here</textarea>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="player"></div>
            </div>
        </div>

        <div class="overlay"></div>
        <div class="footer">
            <p>♥ from toni pizzicato</p>
        </div>

    </div>

    <!-- build:js({public,.tmp}) /scripts/vendor.js -->
    <script src="/vendor/requirejs/require.js"></script>
    <!-- endbuild -->

    <!-- build:js({public,.tmp}) /scripts/out.js -->
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->

</body>
</html>
